:root {
  --header-height: 2rem;
}

html {
  scroll-snap-type: y mandatory;
}


body > header {
  height: var(--header-height);
}

#hero,
#about,
#projects,
#contacts {
  padding-top: var(--header-height);
  min-height: 100svh;
  scroll-snap-align: start;
}
