/* fonts:
https://www.joshwcomeau.com/css/custom-css-reset
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, ol, menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
